{% extends 'layout.html' %}

{% block title %}500 Error{% endblock %}

{% block container %}
    <div class="full-screen-size-fixed-container d-flex justify-content-center align-items-center">
        <div class="p-3 text-center shadow">
            <h1 class="display-1 font-weight-bold ">500</h1>
            <h4 class="text-muted">500 - The server is on fire!</h4>
            <p class="">The fire department is on its way to pull out the fire.</p>
            <a class="btn btn-dark" href="{{ url_for('home') }}" role="button"><i class="fas fa-house-user mr-2"></i> Let&#39;s go back home!</a>
        </div>
    </div>
{% endblock %}
