{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block container %}
    <div class="container mt-3">
        <div class="jumbotron bg-dark text-white shadow">
            <h1>My First Bootstrap Page</h1>
            <p>This is some text.</p>
            <div class="d-flex justify-content-center">
                <div class="btn-group">
                    <a class="btn btn-primary" href="#" role="button">Button1</a>
                    <a class="btn btn-light" href="#" role="button">Button2</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}