{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block container %}
    <div class="full-screen-size-fixed-container d-flex justify-content-center align-items-center">
        <div class="bg-dark p-4 text-white shadow-lg col-10 col-sm-8 col-md-7 col-lg-8 col-xl-4">
            <form role="form" action="{{ url_for('login') }}" method="POST" accept-charset="UTF-8">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.email.label(for_='email') }}
                    {{ form.email(class_='form-control', placeholder='Enter email...') }}
                    {% for error in form.email.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password.label(for_='password') }}
                    {{ form.password(class_='form-control', placeholder='Enter password...') }}
                    {% for error in form.password.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        {{ form.remember_me(class_='form-check-input') }}  Remember me
                    </label>
                    {% for error in form.remember_me.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.submit(class_='btn btn-light') }}
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="True">×</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
