{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block css_import %}
    <!-- Custom styles for this page -->
    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock css_import %}

{% block style %}
    custom_color {
        color: #ff0000;
    }
{% endblock style %}

{% block side_bar_title %}
Flask-Boilerplate
{% endblock side_bar_title %}

{% block profile_name %}Victor Santiago{% endblock profile_name %}

{% block profile_img %}
https://avatars2.githubusercontent.com/u/10477698?s=460&u=716195bd2a8b0ac50f90768f97dd2007895d5837&v=4
{% endblock profile_img %}

{% block page_header %}Dashboard{% endblock %}

{% block page_sub_header %}
This is an example on how to use the blocks in layout.html.
{% endblock page_sub_header %}

{% block content %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>Tiger Nixon</td>
              <td>System Architect</td>
              <td>Edinburgh</td>
              <td>61</td>
              <td>2011/04/25</td>
              <td>$320,800</td>
            </tr>
            <tr>
              <td>Garrett Winters</td>
              <td>Accountant</td>
              <td>Tokyo</td>
              <td>63</td>
              <td>2011/07/25</td>
              <td>$170,750</td>
            </tr>
            <tr>
              <td>Ashton Cox</td>
              <td>Junior Technical Author</td>
              <td>San Francisco</td>
              <td>66</td>
              <td>2009/01/12</td>
              <td>$86,000</td>
            </tr>
            <tr>
              <td>Cedric Kelly</td>
              <td>Senior Javascript Developer</td>
              <td>Edinburgh</td>
              <td>22</td>
              <td>2012/03/29</td>
              <td>$433,060</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
{% endblock %}

{% block js_import %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
{% endblock js_import %}

{% block script %}
    // Create a variable:
    var car = "Hello world!";
{% endblock script %}
